
.benefits {
    padding-top: 94px;
}

.benefits__list {
    display: flex;
}

.benefits__item {
    min-width: 270px;
}

.benefits__item:not(:last-child) {
    margin-right: 30px;
}

.soc__link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
    border-radius: 4px;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
}

.benefits__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: left;
}

.benefits__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
