
.work {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}

.work__title {
    margin-bottom: 50px;
}

.work__list {
    display: flex;
    flex-wrap: wrap;
}

.work__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
    position: relative;
}

.work__item:nth-child(3n) {
    margin-right: 0;
}

.work__item-text::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
}

.work__item-text p {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    padding-top: 23px;
    padding-bottom: 23px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 1;
    background-color: rgba(47, 48, 58, 0.8);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work__item:hover .work__item-text p {
    opacity: 1;
}

